@{
  ViewData["Title"] = "Treeview - Extended UI";
}
@{
  var treeViewData = ViewBag.TreeViewData;
  var assetsPath = ViewBag.AssetsPath;
}
@section VendorStyles {
  <link rel="stylesheet" href="~/vendor/libs/jstree/jstree.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
}
@section VendorScripts {
  <script src="~/vendor/libs/jstree/jstree.js"></script>
}
@section PageScripts {
  <script src="~/js/extended-ui-treeview.js"></script>
}
@* ************** Content ************** *@






  <!-- Tree View Section -->
  <div class="col-md-4 col-12">
    <div class="card mb-6">
      <div class="card-body" style="height:170px">
        <!-- #region >-->
        <div>
          <div class="d-flex align-items-center mb-3">
            <ejs-textbox id="textbox" placeholder="Search" cssClass="e-corner me-2"></ejs-textbox>
            <button type="button" class="btn btn-outline-primary" onclick="SearchTree()">
              <i class="bi bi-search"></i>
            </button>
          </div>

        </div>
        <button id="addNew" onclick=AddNewDoc() class="btn btn-primary me-3 ">Add New Doc</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEditDoc">
          Redigera Dokument
        </button>

      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Manual</h5>
      <div class="card-body treeview-body" style="height:570px">

        <ejs-treeview id="Treedata" showCheckBox="true" , allowDragAndDrop="true" allowTextWrap="true"
          allowEditing="true" nodeSelected=getSelectedNode>
          <e-treeview-fields dataSource="@treeViewData" id="id" parentId="pid" text="name" hasChildren="hasChild"
            isChecked="Checked" contextmenu="true" iconCss="icon" expanded="expanded"></e-treeview-fields>
        </ejs-treeview>


      </div>
    </div>
  </div>

  <!-- Word Processor Section -->
  <div class="col-md-8 col-12">
    <div class="card mb-6">

      <div class="card-body">
        <ejs-documenteditorcontainer id="container" serviceUrl="/api/DocumentEditor/" showPropertiesPane=false
          enableToolbar=false created="onCreated" height="800px" enableEditor="true"
          isReadOnly="true"></ejs-documenteditorcontainer>


        </ejs-ejs-documenteditor>
      </div>
    </div>
  </div>
</div>
<!-- Add this before the dialog component -->
<div id="dialog-target"></div>


<!-- Syncfusion Dialog -->
<ejs-dialog id="docEditorDialog" header="Word Processor" isModal=true visible="false" showCloseIcon="true" width="80%"
  height="80%" target="#dialog-target" cssClass="custom-editor-dialog">
  <e-content-template height="80%">
    <div style="height:80%; width:80%;">
      <!-- Container must fill height -->
      <div style="height:80%; width:80%;">
        <ejs-documenteditorcontainer id="docEditor" enableToolbar=true height="80%" serviceUrl="/api/DocumentEditor/"
          zIndex="3000" created="onEditorCreated">
        </ejs-documenteditorcontainer>
      </div>
    </div>
  </e-content-template>
</ejs-dialog>

<script>

  var documenteditor;
  function EditDoc() {

    @* var documenteditorElement = document.getElementById("container");
    container = documenteditorElement.ej2_instances[0];
    documenteditor = container.documentEditor;
    // To insert text in cursor position
    container.enableToolbar = true;
    container.toolbarItems = ['New', 'Open', 'Undo', 'Redo'];
    container.documentEditor.isReadOnly = false;
    // Load a file (for example, a Word document in SFDT format)
    // You need to fetch the file content (sfdt) from your server or a file input
    // Example: load from a URL via AJAX
    fetch('/test1.sfdt')
      .then(response => response.json())
      .then(sfdt => {
        container.documentEditor.open(sfdt);
      }); *@
      $.ajax({
        url: '/Page3/EditDocModal',
        type: 'GET',
        success: function (result) {
          // Create a container for the modal if it doesn't exist
          var modalContainer = document.getElementById('editDocModalContainer');
          if (!modalContainer) {
            modalContainer = document.createElement('div');
            modalContainer.id = 'editDocModalContainer';
            document.body.appendChild(modalContainer);
          }
          modalContainer.innerHTML = result;

          // Show the modal (assuming Bootstrap modal)
          var modalElement = document.getElementById('editDocModal');
          if (modalElement) {
            var modal = new bootstrap.Modal(modalElement);
            modal.show();
          }
        },
        error: function () {
          alert('Failed to load the edit document modal.');
        }
      });

  }
  function onCreated() {

    var documenteditor;
    document.addEventListener('DOMContentLoaded', function () {
      documenteditor = documenteditorElement.ej2_instances[0];
      var documenteditorElement = document.getElementById("container");
      container = documenteditorElement.ej2_instances[0];
      console.log("Document editor is ready.");
      var sfdt = { "sections": [{ "sectionFormat": { "pageWidth": 612, "pageHeight": 792, "leftMargin": 72, "rightMargin": 72, "topMargin": 72, "bottomMargin": 72, "differentFirstPage": false, "differentOddAndEvenPages": false, "headerDistance": 36, "footerDistance": 36, "bidi": false }, "blocks": [{ "paragraphFormat": { "afterSpacing": 30, "styleName": "Heading 1", "listFormat": {} }, "characterFormat": {}, "inlines": [{ "characterFormat": {}, "text": "Adventure Works Cycles" }] }], "headersFooters": { "header": { "blocks": [{ "paragraphFormat": { "listFormat": {} }, "characterFormat": {}, "inlines": [] }] }, "footer": { "blocks": [{ "paragraphFormat": { "listFormat": {} }, "characterFormat": {}, "inlines": [] }] } } }], "characterFormat": { "bold": false, "italic": false, "fontSize": 11, "fontFamily": "Calibri", "underline": "None", "strikethrough": "None", "baselineAlignment": "Normal", "highlightColor": "NoColor", "fontColor": "empty", "fontSizeBidi": 11, "fontFamilyBidi": "Calibri", "allCaps": false }, "paragraphFormat": { "leftIndent": 0, "rightIndent": 0, "firstLineIndent": 0, "textAlignment": "Left", "beforeSpacing": 0, "afterSpacing": 0, "lineSpacing": 1.0791666507720947, "lineSpacingType": "Multiple", "listFormat": {}, "bidi": false }, "defaultTabWidth": 36, "trackChanges": false, "enforcement": false, "hashValue": "", "saltValue": "", "formatting": false, "protectionType": "NoProtection", "dontUseHTMLParagraphAutoSpacing": false, "formFieldShading": true, "styles": [{ "name": "Normal", "type": "Paragraph", "paragraphFormat": { "lineSpacing": 1.149999976158142, "lineSpacingType": "Multiple", "listFormat": {} }, "characterFormat": { "fontFamily": "Calibri" }, "next": "Normal" }, { "name": "Default Paragraph Font", "type": "Character", "characterFormat": {} }, { "name": "Heading 1 Char", "type": "Character", "characterFormat": { "fontSize": 16, "fontFamily": "Calibri Light", "fontColor": "#2F5496" }, "basedOn": "Default Paragraph Font" }, { "name": "Heading 1", "type": "Paragraph", "paragraphFormat": { "beforeSpacing": 12, "afterSpacing": 0, "outlineLevel": "Level1", "listFormat": {} }, "characterFormat": { "fontSize": 16, "fontFamily": "Calibri Light", "fontColor": "#2F5496" }, "basedOn": "Normal", "link": "Heading 1 Char", "next": "Normal" }, { "name": "Heading 2 Char", "type": "Character", "characterFormat": { "fontSize": 13, "fontFamily": "Calibri Light", "fontColor": "#2F5496" }, "basedOn": "Default Paragraph Font" }, { "name": "Heading 2", "type": "Paragraph", "paragraphFormat": { "beforeSpacing": 2, "afterSpacing": 6, "outlineLevel": "Level2", "listFormat": {} }, "characterFormat": { "fontSize": 13, "fontFamily": "Calibri Light", "fontColor": "#2F5496" }, "basedOn": "Normal", "link": "Heading 2 Char", "next": "Normal" }, { "name": "Heading 3", "type": "Paragraph", "paragraphFormat": { "leftIndent": 0, "rightIndent": 0, "firstLineIndent": 0, "textAlignment": "Left", "beforeSpacing": 2, "afterSpacing": 0, "lineSpacing": 1.0791666507720947, "lineSpacingType": "Multiple", "outlineLevel": "Level3", "listFormat": {} }, "characterFormat": { "fontSize": 12, "fontFamily": "Calibri Light", "fontColor": "#1F3763" }, "basedOn": "Normal", "link": "Heading 3 Char", "next": "Normal" }, { "name": "Heading 3 Char", "type": "Character", "characterFormat": { "fontSize": 12, "fontFamily": "Calibri Light", "fontColor": "#1F3763" }, "basedOn": "Default Paragraph Font" }, { "name": "Heading 4", "type": "Paragraph", "paragraphFormat": { "leftIndent": 0, "rightIndent": 0, "firstLineIndent": 0, "textAlignment": "Left", "beforeSpacing": 2, "afterSpacing": 0, "lineSpacing": 1.0791666507720947, "lineSpacingType": "Multiple", "outlineLevel": "Level4", "listFormat": {} }, "characterFormat": { "italic": true, "fontFamily": "Calibri Light", "fontColor": "#2F5496" }, "basedOn": "Normal", "link": "Heading 4 Char", "next": "Normal" }, { "name": "Heading 4 Char", "type": "Character", "characterFormat": { "italic": true, "fontFamily": "Calibri Light", "fontColor": "#2F5496" }, "basedOn": "Default Paragraph Font" }, { "name": "Heading 5", "type": "Paragraph", "paragraphFormat": { "leftIndent": 0, "rightIndent": 0, "firstLineIndent": 0, "textAlignment": "Left", "beforeSpacing": 2, "afterSpacing": 0, "lineSpacing": 1.0791666507720947, "lineSpacingType": "Multiple", "outlineLevel": "Level5", "listFormat": {} }, "characterFormat": { "fontFamily": "Calibri Light", "fontColor": "#2F5496" }, "basedOn": "Normal", "link": "Heading 5 Char", "next": "Normal" }, { "name": "Heading 5 Char", "type": "Character", "characterFormat": { "fontFamily": "Calibri Light", "fontColor": "#2F5496" }, "basedOn": "Default Paragraph Font" }, { "name": "Heading 6", "type": "Paragraph", "paragraphFormat": { "leftIndent": 0, "rightIndent": 0, "firstLineIndent": 0, "textAlignment": "Left", "beforeSpacing": 2, "afterSpacing": 0, "lineSpacing": 1.0791666507720947, "lineSpacingType": "Multiple", "outlineLevel": "Level6", "listFormat": {} }, "characterFormat": { "fontFamily": "Calibri Light", "fontColor": "#1F3763" }, "basedOn": "Normal", "link": "Heading 6 Char", "next": "Normal" }, { "name": "Heading 6 Char", "type": "Character", "characterFormat": { "fontFamily": "Calibri Light", "fontColor": "#1F3763" }, "basedOn": "Default Paragraph Font" }], "lists": [], "abstractLists": [], "comments": [], "revisions": [], "customXml": [] };
      // open the default document.
      container.open(JSON.stringify(sfdt));
    });

  }

  function filterTreeNodes(searchString) {
    // Get the TreeView instance
    var treeObj = document.getElementById('Treedata').ej2_instances[0];

    // Reset all nodes to visible before applying the filter
    treeObj.expandAll();
    treeObj.collapseAll();
    var allNodes = treeObj.element.querySelectorAll('.e-list-item');
    allNodes.forEach(node => node.style.display = '');

    // Filter nodes based on the search string
    if (searchString.trim() !== '') {
      var matchedNodes = treeObj.element.querySelectorAll('.e-list-item');
      matchedNodes.forEach(node => {

        var nodeText = node.querySelector('.e-text-content').innerText;
        if (nodeText.toLowerCase().includes(searchString.toLowerCase())) {

          // If the node matches, ensure it is visible
          console.log(nodeText);
        }
        else {
          // If the node does not match, hide it
          node.style.display = 'none';
        }
      });
    }
  }
  function SearchTree() {
    var searchString = document.getElementById('textbox').ej2_instances[0].value;
    filterTreeNodes(searchString);
  }

  function AddNewDoc() {
    var treeObj = document.getElementById('Treedata').ej2_instances[0];

    selNode = getSelectedNode();
    treeObj.addNodes([{ id: 29, pid: selNode.id, name: 'New Child ' }], treeObj.selectedNodes[0]);

    treeObj.expandNode(treeObj.selectedNodes[0]);


  }
  function SaveDoc() {
    console.log("Saving document...");
    documenteditor.save('sampleFile', 'Sfdt');

  }


  function getSelectedNode() {
    // Get the TreeView instance
    var treeObj = document.getElementById('Treedata').ej2_instances[0];

    // Get the selected nodes
    var selectedNodes = treeObj.selectedNodes;

    if (selectedNodes.length > 0) {
      // Get details of the first selected node
      var selectedNodeDetails = treeObj.getNode(selectedNodes[0]);
      console.log("Selected Node Details:", selectedNodeDetails);
      return selectedNodeDetails;
    } else {
      console.log("No node is selected.");
      return null;
    }

  }
  function showEditor() {
    var dialog = document.getElementById("docEditorDialog").ej2_instances[0];
    if (dialog) {
      dialog.show();

      setTimeout(function () {
        var editor = document.getElementById("docEditor").ej2_instances?.[0];
        if (editor) {
          console.log("Resizing editor...");
          editor.resize();
        } else {
          console.warn("Editor instance not found");
        }
      }, 300);
    }
  }
  function onEditorCreated() {
    console.log("Document editor is ready.");
  }
</script>




  }

  #docEditor {
    height: 100% !important;
  }

  .offcanvas-body {
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  .offcanvas {
    width: 80%;
    s
  }

  #offcanvasDocEditorContainer {
    height: 100% !important;
  }

  /* Change font size for all nodes in Syncfusion TreeView */
  .e-treeview .e-list-text {
    font-size: 18px !important;
    /* Set your desired size */
  }

  .treeview-body {
    height: 570px;
    /* or any height you want */
    overflow-y: auto;
    /* enables vertical scrollbar */
    overflow-x: hidden;
    /* prevents horizontal scroll */
  }
</style>

@await Html.PartialAsync("../_Partials/_Modals/ModalEditDoc")
